# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Database
*.db
*.sqlite3

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Distribution / build
dist/
build/
*.egg-info/
